In [227]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import ast
%matplotlib inline

from ast import literal_eval

import warnings
warnings.filterwarnings('ignore')

import os

In [228]:
movies = pd.read_csv("C:/Users/SONY/Downloads/movies_metadata1.csv")

In [229]:
credits = pd.read_csv("C:/Users/SONY/Desktop/projectfinal/New folder/New folder/credits.csv")

In [230]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [231]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,english,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,30-10-1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,english,When siblings Judy and Peter discover an encha...,17.015539,...,15-12-1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,english,A family wedding reignites the ancient feud be...,11.712900,...,22-12-1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,english,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,22-12-1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,english,Just when George Banks has recovered from his ...,8.387519,...,10-02-1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [232]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45463 entries, 0 to 45462
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45463 non-null  bool
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45463 non-null  int64
 3   genres                 45463 non-null  object
 4   homepage               7779 non-null   object
 5   id                     45463 non-null  int64
 6   imdb_id                45446 non-null  object
 7   original_language      45452 non-null  object
 8   overview               44509 non-null  object
 9   popularity             45460 non-null  float64
 10  poster_path            45077 non-null  object
 11  production_companies   45460 non-null  object
 12  production_countries   45460 non-null  object
 13  release_date           45376 non-null  object
 14  revenue                45460 non-null  float64
 15  runtime                45203 non-null  float64
 16  spoken_languages       45460 non-null  object
 17  status                 45379 non-null  object
 18  tagline                20412 non-null  object
 19  title                  45460 non-null  object
 20  video                  45460 non-null  object
 21  vote_average           45460 non-null  float64
 22  vote_count             45460 non-null  float64
dtypes: bool(1), float64(5), int64(2), object(15)
memory usage: 7.7+ MB

In [233]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [234]:
movies['id'] = movies['id'].astype('int')

In [235]:
movies=movies.merge(credits,on='id')

In [236]:
movies.shape

(45538, 25)

In [237]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45538 entries, 0 to 45537
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45538 non-null  bool
 1   belongs_to_collection  4500 non-null   object
 2   budget                 45538 non-null  int64
 3   genres                 45538 non-null  object
 4   homepage               7792 non-null   object
 5   id                     45538 non-null  int32
 6   imdb_id                45521 non-null  object
 7   original_language      45527 non-null  object
 8   overview               44584 non-null  object
 9   popularity             45535 non-null  float64
 10  poster_path            45152 non-null  object
 11  production_companies   45535 non-null  object
 12  production_countries   45535 non-null  object
 13  release_date           45451 non-null  object
 14  revenue                45535 non-null  float64
 15  runtime                45278 non-null  float64
 16  spoken_languages       45535 non-null  object
 17  status                 45454 non-null  object
 18  tagline                20439 non-null  object
 19  title                  45535 non-null  object
 20  video                  45535 non-null  object
 21  vote_average           45535 non-null  float64
 22  vote_count             45535 non-null  float64
 23  cast                   45538 non-null  object
 24  crew                   45538 non-null  object
dtypes: bool(1), float64(5), int32(1), int64(1), object(17)
memory usage: 8.6+ MB

In [238]:
movies['genres']=movies['genres'].apply(literal_eval).apply(lambda x: [i['name'] for i in x])

In [239]:
movies['year']=movies['release_date'].apply(lambda x: str(x).split('-')[0]  if x != np.nan else np.nan)

Demographic Filtering

In [240]:
vote_counts = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')
vote_averages = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')
C= vote_averages.mean()
C

5.244844625013726

In [241]:
m = vote_counts.quantile(0.95)
m

433.0

In [242]:
movies['year']=movies['release_date'].apply(lambda x: str(x).split('-')[0]  if x != np.nan else np.nan)

In [243]:
movies.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,overview,popularity,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,english,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",30

In [244]:
qualified=movies[(movies['vote_count']>=m) & (movies['vote_count'].notnull()) & (movies['vote_average'].notnull())][['title','year','vote_count','vote_average','popularity','genres']]

In [245]:
qualified.shape

(2282, 6)

In [246]:
def weighted_ratio(x):
    v=x['vote_count']
    R=x['vote_average']
    return (((v/(v+m))*R) + ((m/(v+m))*C))

In [247]:
qualified['wr']=qualified.apply(weighted_ratio,axis=1)

In [248]:
qualified['wr']=np.round(qualified['wr'],2)

In [249]:
qualified=qualified.sort_values(by='wr',ascending=False)

In [250]:
gen=movies.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
gen.name='genre'
gen_movies=movies.drop('genres',axis=1).join(gen)

In [251]:
gen_movies.head(3)

,adult,belongs_to_collection,budget,homepage,id,imdb_id,original_language,overview,popularity,poster_path,...,status,tagline,title,video,vote_average,vote_count,cast,crew,year,genre
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,english,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",30,Animation
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,english,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",30,Comedy
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,english,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",30,Family

In [252]:
def build_chart(genre,percentile=0.95):
    df=gen_movies[gen_movies['genre'] == genre]
    vote_counts=df[df['vote_count'].notnull()]['vote_count'].astype(int)
    vote_averages=df[df['vote_average'].notnull()]['vote_average'].astype(int)
    c=vote_averages.mean()
    m=vote_counts.quantile(percentile)
    
    qualified=df[(df['vote_count']>=m) & df['vote_count'].notnull() & df['vote_average'].notnull()][['title','year','vote_count','vote_average','popularity']]
    

    qualified['wr'] = qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(250)
    
    return qualified

In [253]:
build_chart('Romance').head(10)

,title,year,vote_count,vote_average,popularity,wr
351,Forrest Gump,06,8147.0,8.2,48.307194,8.051928
40958,La La Land,29,4745.0,7.9,19.681686,7.679496
22239,Her,18,4215.0,7.9,13.829515,7.654335
7237,Eternal Sunshine of the Spotless Mind,19,3758.0,7.9,12.906327,7.627526
10345,Dilwale Dulhania Le Jayenge,20,661.0,9.1,34.457024,7.581088
40328,Your Name.,26,1030.0,8.5,34.461252,7.541683
4860,Amélie,25,3403.0,7.8,12.879381,7.513501
25053,The Theory of Everything,26,3403.0,7.8,11.853020,7.513501
7866,The Notebook,25,3163.0,7.7,15.239013,7.406324
4882,A Beautiful Mind,11,3087.0,7.7,11.936460,7.399978

In [254]:
build_chart('Action').head(10)

,title,year,vote_count,vote_average,popularity,wr
12525,The Dark Knight,16,12269.0,8.3,123.167259,7.978606
15545,Inception,14,14075.0,8.1,29.108149,7.834603
7029,The Lord of the Rings: The Return of the King,01,8226.0,8.1,29.324358,7.674048
1163,The Empire Strikes Back,17,5998.0,8.2,19.470959,7.627112
4880,The Lord of the Rings: The Fellowship of the Ring,18,8892.0,8.0,32.070725,7.615456
256,Star Wars,25,6778.0,8.1,42.149697,7.599018
23822,Guardians of the Galaxy,30,10014.0,7.9,53.291601,7.565707
5840,The Lord of the Rings: The Two Towers,18,7641.0,8.0,29.423537,7.562495
2466,The Matrix,30,9079.0,7.9,33.366332,7.535999
13662,Inglourious Basterds,18,6598.0,7.9,16.895640,7.423681

Content Based Recomender System

In [255]:
movies['overview'].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

TF-IDF used to vectorize the objects.

In [260]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf=TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
#movies['overview']=movies['overview'].fillna('')
movies = movies.dropna()

#Construct the required TF-IDF matrix by fitting and transforming the data 
tfidf_matrix=tfidf.fit_transform(movies['overview'])

tfidf_matrix.shape

(695, 7448)

In [261]:
from sklearn.metrics.pairwise import linear_kernel

cosine_sim=linear_kernel(tfidf_matrix,tfidf_matrix)

In [262]:
cosine_sim[0]

array([1.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.0182943 , 0.02020274, 0.03248081,
       0.0306265 , 0.        , 0.        , 0.        , 0.0263372 ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02540865, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.03291789, 0.        , 0.05082625, 0.        ,
       0.        , 0.04135635, 0.        , 0.        , 0.        ,
       0.02490104, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.02582118, 0.        , 0.        , 0.        ,
       0.        , 0.08097583, 0.        , 0.        , 0.        ,
       0.04180197, 0.        , 0.        , 0.        , 0.        ,
       0.12168472, 0.0379251 , 0.07981508, 0.09651013, 0.05876035,
       0.15511941, 0.11199642, 0.10803876, 0.04040821, 0.07590829,
       0.        , 0.        , 0.        , 0.        , 0.02488511,
       0.        , 0.        , 0.06598438, 0.05835865, 0.04553552,
       0.05939818, 0.        , 0.02337132, 0.        , 0.        ,
       0.09567757, 0.05585239, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.03649824,
       0.        , 0.        , 0.        , 0.0469373 , 0.        ,
       0.        , 0.01887755, 0.        , 0.        , 0.        ,
       0.        , 0.02875747, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.08189905, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.02621247,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.11892286, 0.1155334 , 0.12873872, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.02333705,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.03005301, 0.        , 0.0227063 ,
       0.02704886, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01784841, 0.        , 0.        ,
       0.        , 0.        , 0.02740351, 0.        , 0.        ,
       0.04836385, 0.        , 0.        , 0.        , 0.02794874,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02206259, 0.03858113, 0.        , 0.06084602, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.03593179,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.02363148, 0.        ,
       0.03823046, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02148342, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02459075, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.06871165, 0.        ,
       0.01576186, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02316601, 0.0182283 , 0.0142607 ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.02729693, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.05618645,
       0.02300084, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.0293155 , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02729551, 0.        , 0.        ,
       0.02274687, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.04039762, 0.        , 0.        , 0.        ,
       0.        , 0.04596451, 0.        , 0.        , 0.        ,
       0.04378812, 0.        , 0.        , 0.        , 0.02366006,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.01311301, 0.        ,
       0.03382052, 0.01946348, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01460314, 0.        , 0.        ,
       0.        , 0.05232993, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.03852002, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.02563338,
       0.        , 0.        , 0.01086568, 0.        , 0.        ,
       0.        , 0.03210809, 0.        , 0.03161584, 0.        ,
       0.07280868, 0.        , 0.        , 0.        , 0.03010971,
       0.        , 0.        , 0.        , 0.01233108, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.0155869 , 0.03584137, 0.        , 0.03815772,
       0.        , 0.        , 0.        , 0.        , 0.03990073,
       0.        , 0.0378558 , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.01298534, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.0220462 , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.04697066, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01231711, 0.        , 0.05269931,
       0.        , 0.        , 0.        , 0.01218885, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.0265432 , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.01210151, 0.        ,
       0.        , 0.        , 0.03477577, 0.03148884, 0.        ,
       0.03701897, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.01564308, 0.        , 0.        , 0.01457895, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.02402898, 0.03220191, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01996642, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.06092989, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.07947142,
       0.        , 0.        , 0.        , 0.01361931, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.01687666,
       0.        , 0.        , 0.        , 0.        , 0.02990552,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.0164107 , 0.        , 0.        , 0.        , 0.05232009,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02420318, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.05905397,
       0.        , 0.04985924, 0.        , 0.03095764, 0.01700279,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.01835594, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02300321, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.03510337, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.04191022,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.02535877,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.01650153, 0.        , 0.        , 0.        ,
       0.        , 0.01908968, 0.        , 0.        , 0.        ,
       0.        , 0.02868294, 0.        , 0.        , 0.        ,
       0.03193449, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ])

In [263]:
indices = pd.Series(movies.index, index=movies['title']).drop_duplicates()

In [264]:
indices

title
GoldenEye                                      9
Friday                                        68
From Dusk Till Dawn                           69
Blue in the Face                             153
Mighty Morphin Power Rangers: The Movie      178
                                           ...
Little Forest: Summer/Autumn               44125
War for the Planet of the Apes             44349
Goon: Last of the Enforcers                44749
Transformers: The Last Knight              44915
Bon Cop Bad Cop 2                          45102
Length: 695, dtype: int64

In [265]:
indices = pd.Series(movies.index, index=movies['title']).drop_duplicates()

In [266]:
indices

title
GoldenEye                                      9
Friday                                        68
From Dusk Till Dawn                           69
Blue in the Face                             153
Mighty Morphin Power Rangers: The Movie      178
                                           ...
Little Forest: Summer/Autumn               44125
War for the Planet of the Apes             44349
Goon: Last of the Enforcers                44749
Transformers: The Last Knight              44915
Bon Cop Bad Cop 2                          45102
Length: 695, dtype: int64

In [267]:
def content_based(title, cosine_sim=cosine_sim):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return movies['title'].iloc[movie_indices]

In [268]:
content_based('Blue in the Face')

18867                                      The Raid
2885                                Licence to Kill
14018                                 The Collector
761                                   Trainspotting
36055                                  Ride Along 2
11610                               Cocaine Cowboys
20765                  Don : The Chase Begins Again
18330            Sherlock Holmes: A Game of Shadows
21235                               Despicable Me 2
11047    Pirates of the Caribbean: Dead Man's Chest
Name: title, dtype: object